body {
    margin: 0;
    padding: 0;
    background-color: #E2F2FB;
    font-family: 'Roboto', serif;
}

.wrapper {
    width: 100%;
    min-height: 92vh;
    padding: 4vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 70%; /* basic size */
    min-height: 100%;
    gap: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container .logo {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.container img {
    width: 100%;
    min-width: 180px;
    height: auto;
    transition: transform 0.3s ease;
}

.container h1 {
    color: #303030;
    text-align: center;
    font-family: Roboto, serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 16px;
    margin: 0;
}

.form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 12px;
}

.form h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 0;
    color: #303030;
}

#form-container {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    background-color: #FFFFFF;
    border-radius: 16px;
}

.form-group {
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
}

.form-group label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.05em;

    color: #303030;
}

.form-group input[type=text],
.form-group input[type=password] {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0.5px solid;
    padding: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.05em;

    color: #707070;
}

.form-group input[type=text]:focus,
.form-group input[type=password]:focus {
    outline: none;
    border-bottom: 2px solid #C50E5F;
    transition: border-bottom-color 0.3s ease;
}

@media (max-width: 480px) {
    .container {
        gap: 24px;
    }

    .container .logo {
        gap: 20px;
    }

    .container h1 {
        font-size: 28px;
        letter-spacing: 8px;
        font-weight: 600;
    }

    .container h2 {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        gap: 36px;
    }

    .container .logo {
        gap: 28px;
    }

    .container h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 16px;
    }

    input[type="text"],
    input[type="password"] {
        font-size: 10px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 60%;
    }

    h2 {
        font-size: 26px;
    }

    .login-form {
        width: 50%;
    }

    .form-group {
        width: 80%;
        display: flex;
        flex-direction: column-reverse;
    }

    input[type="text"],
    input[type="password"] {
        font-size: 14px;
    }
}

.question {
    width: 100%;
    text-align: end;
}

.question p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    margin: 0;
    letter-spacing: 0.05em;

    color: #303030;
}

.question a {
    color: #C50E5F;
    text-decoration: none;
    margin-right: 1px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.question a:hover {
    color: #950e4a;
    text-shadow:
            0 0 5px #ff4ad4,
            0 0 8px #ff44d9,
            0 0 12px #ff4be2,
            0 0 20px #ff4fe1;
}

.button {
    width: 124px;
    height: 40px;
    color: #848484;
    background: #e8e7e7;
    border: 0.5px solid ;
    border-radius: 16px;
    cursor: not-allowed;
    transition: background 0.3s;
    margin-bottom: 120px;

    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button.active {
    background: #ffffff;
    /* color: #FFFFFF; */
    cursor: pointer;
}

.button.active:hover {
    background: #000000;
    color: #FFFFFF;
}